body { 
    background-color: #1C1C1C; 
    font-family: 'Roboto'; 
    color:#FFFFFF;
}

.card { 
    background-color: #2a2a2a; 
    color: #FFFFFF; 
    top: 20%; 
    margin: -50px 0 0 -50px; 
    border-radius: 35px; 
}